In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data_raw/the_oscar_award.csv')

In [11]:
df.head()

,year_film,year_ceremony,ceremony,category,name,film,winner
10267,2019,2020,92,ACTOR IN A LEADING ROLE,Antonio Banderas,Pain and Glory,False
10268,2019,2020,92,ACTOR IN A LEADING ROLE,Leonardo DiCaprio,Once upon a Time...in Hollywood,False
10269,2019,2020,92,ACTOR IN A LEADING ROLE,Adam Driver,Marriage Story,False
10270,2019,2020,92,ACTOR IN A LEADING ROLE,Joaquin Phoenix,Joker,True
10271,2019,2020,92,ACTOR IN A LEADING ROLE,Jonathan Pryce,The Two Popes,False

In [17]:
df.isna().sum()

year_film        0
year_ceremony    0
ceremony         0
category         0
name             0
film             0
winner           0
dtype: int64

In [6]:
df = df[df['year_film'] > 2018]

In [9]:
df['category'].unique()

array(['ACTOR IN A LEADING ROLE', 'ACTOR IN A SUPPORTING ROLE',
       'ACTRESS IN A LEADING ROLE', 'ACTRESS IN A SUPPORTING ROLE',
       'ANIMATED FEATURE FILM', 'CINEMATOGRAPHY', 'COSTUME DESIGN',
       'DIRECTING', 'DOCUMENTARY (Feature)',
       'DOCUMENTARY (Short Subject)', 'FILM EDITING',
       'INTERNATIONAL FEATURE FILM', 'MAKEUP AND HAIRSTYLING',
       'MUSIC (Original Score)', 'MUSIC (Original Song)', 'BEST PICTURE',
       'PRODUCTION DESIGN', 'SHORT FILM (Animated)',
       'SHORT FILM (Live Action)', 'SOUND EDITING', 'SOUND MIXING',
       'VISUAL EFFECTS', 'WRITING (Adapted Screenplay)',
       'WRITING (Original Screenplay)',
       'JEAN HERSHOLT HUMANITARIAN AWARD', 'HONORARY AWARD', 'SOUND',
       'DOCUMENTARY FEATURE FILM', 'DOCUMENTARY SHORT FILM',
       'GORDON E. SAWYER AWARD', 'AWARD OF COMMENDATION'], dtype=object)

In [12]:
display(df[df['film'].isna()])

,year_film,year_ceremony,ceremony,category,name,film,winner
10391,2019,2020,92,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,2019,2020,92,HONORARY AWARD,David Lynch,NaN,True
10393,2019,2020,92,HONORARY AWARD,Wes Studi,NaN,True
10394,2019,2020,92,HONORARY AWARD,Lina Wertm√ºller,NaN,True
10513,2020,2021,93,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10514,2020,2021,93,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10635,2021,2022,94,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10636,2021,2022,94,HONORARY AWARD,"To Samuel L. Jackson, whose dynamic performanc...",NaN,True
10637,2021,2022,94,HONORARY AWARD,"To Elaine May, writer, director, performer, pi...",NaN,True
10638,2021,2022,94,HONORARY AWARD,"To Liv Ullmann, for her deeply affecting scree...",NaN,True
10759,2022,2023,95,JEAN HERSHOLT HUMANITARIAN AWARD,NaN,NaN,True
10760,2022,2023,95,HONORARY AWARD,"To Euzhan Palcy, a masterful filmmaker who bro...",NaN,True
10761,2022,2023,95,HONORARY AWARD,"To Diane Warren, for her genius, generosity an...",NaN,True
10762,2022,2023,95,HONORARY AWARD,"To Peter Weir, a fearless and consummate filmm...",NaN,True
10763,2022,2023,95,GORDON E. SAWYER AWARD,Iain Neil,NaN,True

In [16]:
categories_to_drop = ['JEAN HERSHOLT HUMANITARIAN AWARD', 'HONORARY AWARD', 'GORDON E. SAWYER AWARD']
df = df[~df['category'].isin(categories_to_drop)]

In [19]:
unique_films = df['film'].unique()
film_oscar_nominee = pd.DataFrame({'title': unique_films, 'film_oscar_nominee': 1})

In [20]:
display(film_oscar_nominee)

                                 title  film_oscar_nominee
0                       Pain and Glory                   1
1      Once upon a Time...in Hollywood                   1
2                       Marriage Story                   1
3                                Joker                   1
4                        The Two Popes                   1
..                                 ...                 ...
212                         Le Pupille                   1
213                         Night Ride                   1
214                   The Red Suitcase                   1
215  Glass Onion: A Knives Out Mystery                   1
216                Welcome to Chechnya                   1

[217 rows x 2 columns]

In [21]:
film_oscar_nominee.to_csv('../data_cleaned/cleaned_film_oscar_nominee.csv')